:root {
    --color-Blanco: #FFFFFF;
    --color-Amarillo: #F7CE46;
    --color-Anarillo-Claro: #FBE27E;
    --color-Negro: #000000;
    --color-Azul: #3478EB;
    --color-Gris: #8C8E97;
    --color-Gris-Claro: #F9F9FC;
    --color-Linea: #DDDFE5;
    --color-Azul-Claro: #99BFFF;
    --color-Circulos: #EDEEF3;
}

* {
    margin: 0px;
    font-family: 'Noto Sans Display', sans-serif;
}

.partes{
    height: 100%;
    display: flex;
}

.parte-1 {
    position: relative;
    width: 40%;
}

.logoMovil, .divicion{
    display: none;
}

.logo {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.logo > img {
    width: 60%;
    height: 100px;
}

.fondo {
    width: 120%;
    height: 100%;
}

.parte-2 {
    position: relative;
    width: 60%;
    background-color: var(--color-Blanco);
    border-radius: 60px 0px 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    top: 40px;
    width: 92px;
    height: 48px;
    background: linear-gradient(to right, #F7CE46, #FBE27E);
    color: var(--color-Negro);
    height: 62px;
    border-radius: 48px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.form {
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
}

.encabezado {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.encabezado > h1 {
    font-weight: 700;
    font-size: 48px;
}

.encabezado > p {
    font-size: 16px;
    font-weight: 400;
}

.linea-1::before, .linea-2::before {
    content: "";
    border-top: 2px solid var(--color-Linea);
    position: absolute;
    top: 50%;
    z-index: -1;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.linea-1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}


.linea-1 > span {
    background-color: var(--color-Blanco);
    padding: 0px 8px;
}

.c1, .c2, .c3 {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-Blanco);
}

.c1 {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-color: var(--color-Azul-Claro);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.c2 {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-color: var(--color-Circulos);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.c3 {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-color: var(--color-Circulos);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}


.linea-2 {
    text-align: center;
    position: relative;
    z-index: 1;
}

.linea-2 > span {
    background-color: var(--color-Blanco);
    padding: 0px 8px;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-Negro);
}

.preguntas {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 20px;
    font-weight: 400;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name > input {
    border-radius: 12px;
    border: 1px solid var(--color-Linea);
    height: 48px;
    width: 55%;
    padding: 0px 10px;
    font-size: 20px;
    font-weight: 400;
}

.gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.generos {
    width: 58%;
    display: flex;
    justify-content: space-between;
}

.genero-1, .genero-2 {
    display: flex;
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.genero-1 > p, .genero-2 > p {
    width: 88px;
    color: var(--color-Gris);
}

.genero-1 > img, .genero-2 > img {
    width: 48px;
    height: 48px;
}

.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date > input {
    border-radius: 12px;
    border: 1px solid var(--color-Linea);
    height: 48px;
    width: 55%;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 10px;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.next {
    background: linear-gradient(to right, #F7CE46, #FBE27E);
    height: 62px;
    width: 100%;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color:  var(--color-Negro);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botones > p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-Gris);
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #3478EB;
}


.redes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.redes-1, .redes-2 {
    display: flex;
    justify-content: space-between;
}

.btn-redes{
    height: 48px;
    width: 48%;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.texto-2 {
    display: none;
}

.fin {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.fin > p {
    font-size: 16px;
    font-weight: 400;
}

@media(max-width: 1100px){

    .generos {
        width: 60%;
    }

}

@media(max-width: 1100px){

    .back {
        top: 20px;
        right: 20px;
    }

    .genero-1 > img, .genero-2 > img {
        width: 40px;
        height: 40px;
    }

    .genero-1, .genero-2 {
        gap: 4px;
    }

    .genero-1 > p, .genero-2 > p {
        width: auto;
    }

    .btn-redes{
        gap: 5px;
    }

    .btn-redes > span {
        width: 70%;
    }

}

@media(max-width: 768px){
    
    .logo, .fondo {
        display: none;
    }

    .partes {
        display: flex;
        flex-direction: column;
    }

    .parte-1, .parte-2 {
        width: 100%;
        border-radius: 0px;
    }

    .parte-1 {
        height: 60px;
    }

    .logoMovil {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .logoMovil > a {
        display: flex;
        align-items: center;
        grid: 5px;
        color: var(--color-Negro);
        font-size: 16px;
        font-weight: 400;
    }

    .divicion{
        display: block;
        width: 100%;
        border: 1px solid var(--color-Circulos);
    }

    .back {
        display: none;
    }

    .form {
        gap: 24px;
    }

    .encabezado {
        gap: 8px;
    }

    .encabezado > h1 {
        font-size: 24px;
    }

    .encabezado > p {
        font-size: 14px;
    }

    .c1, .c2, .c3 {
        width: 24px;
        height: 24px;
    }

    .preguntas {
        gap: 24px;
        font-size: 14px;
    }

    .name {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: start;
    }

    .name > input {
        height: 48px;
        width: 100%;
    }

    .gender {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }

    .generos{
        width: 100%;
    }

    .genero-1 > img, .genero-2 > img {
        width: 48px;
        height: 48px;
    }

    .genero-1, .genero-2 {
        gap: 10px;
    }

    .date {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .date > input {
        width: 100%;
    }

    .botones {
        gap: 24px;
    }

    .next {
        font-size: 16px;
        height: 48px;
    }

    .botones > p, .botones > p > a {
        font-size: 12px;
    }

    .linea-2 > span {
        padding: 0px 30px;
    }

    .texto-1{
        display: none;
    }

    .texto-2 {
        display: block;
    }

    .fin {
        gap: 15px;
    }

    .fin > p, .fin > a {
        font-size: 14px;
    }

}

@media(max-width: 360px){

    .partes {
        overflow-y: auto;
    }
    .parte-1 {
        width: 360px;
    }
    .parte-2 {
        width: 360px;
    }

}