:root {
    --color-Blanco: #FFFFFF;
    --color-Amarillo: #F7CE46;
    --color-Anarillo-Claro: #FBE27E;
    --color-Negro: #000000;
    --color-Azul: #3478EB;
    --color-Gris: #8C8E97;
    --color-Gris-Claro: #F9F9FC;
    --color-Linea: #DDDFE5;
    --color-Azul-Claro: #99BFFF;
    --color-Circulos: #EDEEF3;
    --color-Intereses: #EFF5FF;
}

* {
    margin: 0px;
    font-family: 'Noto Sans Display', sans-serif;
}

.partes{
    height: 100%;
    display: flex;
}

.parte-1 {
    position: relative;
    width: 40%;
}

.logoMovil, .divicion{
    display: none;
}

.logo {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.logo > img {
    width: 60%;
    height: 100px;
}

.fondo {
    width: 120%;
    height: 100%;
}

.parte-2 {
    position: relative;
    width: 60%;
    background-color: var(--color-Blanco);
    border-radius: 60px 0px 0px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 40px;
    top: 40px;
    width: 92px;
    height: 48px;
    background: linear-gradient(to right, #F7CE46, #FBE27E);
    color: var(--color-Negro);
    height: 62px;
    border-radius: 48px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.form {
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
}

.encabezado {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.encabezado > h1 {
    font-weight: 700;
    font-size: 48px;
}

.encabezado > p {
    font-size: 16px;
    font-weight: 400;
}

.linea-1::before{
    content: "";
    border-top: 2px solid var(--color-Linea);
    position: absolute;
    top: 50%;
    z-index: -1;
    width: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.linea-1 {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}


.linea-1 > span {
    background-color: var(--color-Blanco);
    padding: 0px 8px;
}

.c1, .c2, .c3 {
    font-weight: 400;
    font-size: 20px;
    color: var(--color-Blanco);
}

.c1 {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-color: var(--color-Azul);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.c2 {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-color: var(--color-Azul-Claro);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.c3 {
    display: inline-flex;
    width: 32px;
    height: 32px;
    background-color: var(--color-Circulos);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.intereses {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.intereses > p {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.tablaIntereses, .tablaIntereses-2 {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 8px;
}

.tablaIntereses > li {
    list-style: none;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.tablaIntereses-2 > li {
    list-style: none;
    display: flex;
    gap: 8px;
}

.tablaIntereses > li > button, .tablaIntereses-2 > li > button{
    padding: 8px 12px;
    border: none;
    border-radius: 12px;
    background-color: var(--color-Intereses);
    font-size: 16px;
    font-weight: 400;
    color: var(--color-Negro);
    cursor: pointer;
}

.tablaIntereses-2 {
    display: none;
}

.botones {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.next {
    background: linear-gradient(to right, #F7CE46, #FBE27E);
    height: 62px;
    width: 100%;
    border-radius: 60px;
    border: none;
    font-size: 20px;
    font-weight: 400;
    color:  var(--color-Negro);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.botones > p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-Gris);
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #3478EB;
}

.fin {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.fin > p {
    font-size: 16px;
    font-weight: 400;
}

@media(max-width: 1100px){

    .tablaIntereses {
        display: none;
    }

    .tablaIntereses-2 {
        display: flex;
    }

    .back {
        top: 20px;
        right: 20px;
    }

}

@media(max-width: 768px){

    .logo, .fondo {
        display: none;
    }

    .partes {
        display: flex;
        flex-direction: column;
    }

    .parte-1, .parte-2 {
        width: 100%;
        border-radius: 0px;
    }

    .parte-1 {
        height: 60px;
    }

    .logoMovil {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    .logoMovil > a {
        display: flex;
        align-items: center;
        grid: 5px;
        color: var(--color-Negro);
        font-size: 16px;
        font-weight: 400;
    }

    .divicion{
        display: block;
        width: 100%;
        border: 1px solid var(--color-Circulos);
    }

    .back {
        display: none;
    }

    .form {
        gap: 24px;
    }

    .encabezado {
        gap: 8px;
    }

    .encabezado > h1 {
        font-size: 24px;
    }

    .encabezado > p {
        font-size: 14px;
    }

    .c1, .c2, .c3 {
        width: 24px;
        height: 24px;
    }

    .intereses > p {
        font-size: 14px;
    }

    .tablaIntereses-2 > li > button {
        font-size: 14px;
    }

    .botones {
        gap: 16px;
    }

    .next {
        font-size: 16px;
        height: 48px;
    }

    .botones > p, .botones > p > a {
        font-size: 12px;
    }

    .fin > p, .fin > a {
        font-size: 14px;
    }
    
}

@media(max-width: 360px){

    .partes {
        overflow-y: auto;
    }
    .parte-1 {
        width: 375px;
    }
    .parte-2 {
        width: 375px;
    }

}
